.container-car-winner{
  width: 100%;
  .car-winner-img{
    width: 30px;
    height: auto;
  }
  .car-best-time-value{
    font-family: 'Belanosima', sans-serif;
    font-size: 15px;
  }
  .car-winner-name{
    font-family: 'Belanosima', sans-serif;
    font-size: 15px;
  }
}